@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-container {
  max-width: $mqMaxWidth;
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  text-align: center;
  background-color: $uoc-bg;
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  width: 100%;
  margin: auto;
  margin-top: 1.75rem;
  padding-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  @include theme($info-c);
}
