<footer class="uoc-footer">
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="">
            <h1 class="text-9xl">
                <i class="fa-regular fa-hand-back-fist"></i>
            </h1>
        </div>
        <div class="text-left mx-20 md:mx-0 mt-6 md:mt-0">
            <h3><i class="fa-solid fa-location-dot"></i>&nbsp;Localización</h3>
            <h4>Palacio de deportes</h4>
            <h4>Elche, 03202</h4>
            <h5>
                <a href="https://goo.gl/maps/FoEDtjjSAt14ze2m7" target="_blank"
                    >¿Cómo llegar?</a
                >
            </h5>
        </div>
        <div class="text-left mx-20 md:mx-0 mt-6 md:mt-0">
            <h3><i class="fa-solid fa-users"></i>&nbsp;Síguenos</h3>
            <ul class="ml-5">
                <li>
                    <h5><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</h5>
                </li>
                <li>
                    <h5><i class="fa-brands fa-twitter"></i>&nbsp;Twitter</h5>
                </li>
                <li>
                    <h5>
                        <i class="fa-brands fa-instagram"></i>&nbsp;Instagram
                    </h5>
                </li>
                <li>
                    <h5><i class="fa-brands fa-tiktok"></i>&nbsp;TikTok</h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center font-serif">
        &copy; PEC3 - M4.258 - jdonascimentog
    </div>
</footer>
