@use "sass:color";
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-c: #1b4332;
$secondary-c: #2d6a4f;
$success-c: #52b788;
$info-c: #95d5b2;
$warning-c: #f48c06;
$danger-c: #9d0208;
$light-c: #d8f3dc;
$dark-c: #081c15;
$uoc-corporate: $dark-c;
$uoc-masterbrand: $light-c;
$uoc-corporate: #081c15;
$uoc-masterbrand: #d8f3dc;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 800px;
$mqMaxWidth: 1400px;

@mixin theme($theme: $dark-c) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: color-contrast($theme);
}

@mixin borders($color: $dark-c) {
  border-color: $color;
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: none;
  border-bottom: none;
}
